@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Heebo:wght@600&display=swap');
/*
font-family: 'Heebo', sans-serif;
font-family: 'Be Vietnam Pro', sans-serif;
*/
::-webkit-scrollbar{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.heading{
    font-family: 'Heebo', sans-serif;
    font-size : 3.5rem;
}
.app-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30,30,30);
    height: 100vh;
    color: white;
    overflow-y: scroll;
}
.question-sheet{
    background-color: white;
    color: black;
    margin: 0 30%;
    padding: 1.5rem 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

.question-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}.question-div p{
    font-family: 'Heebo', sans-serif;
    font-size: 1.15rem;
}
.question-div div{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.unselected-option-btn{
    border: solid black 0.15rem;
    border-radius: 1rem;
    transition: 100ms;
    background-color: white;
    margin: 0.25rem 0.75rem;
    padding: 0.7rem 0.25rem;
}.unselected-option-btn:hover{
    transform: scale(1.1);
    color: white;
    background-color: black;
}.selected-option-btn{
    background-color: orange;
    border: solid black 0.15rem;
    border-radius: 1rem;
    transition: 100ms;
    margin: 0.25rem 0.75rem;
    padding: 0.7rem 0.25rem;
}
.submit-btn{
    border: solid black 0.15rem;
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    transition: 200ms;
    background-color: rgb(3, 177, 3);
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem grey;
}.submit-btn:hover{
    transform: scale(1.1);
    background-color: rgb(21, 212, 21);
    box-shadow: 0.7rem 0.7rem 0.7rem 0.7rem grey;
}

.result-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    color: black;
    padding: 1.5rem 15%;
    border-radius: 2rem;
    font-family: 'Heebo', sans-serif;
}
.result-div p{
    font-size: 2rem;
}.result-div p span{
    font-size: 4rem;
    color: orange;
    text-shadow: 0.3rem 0.3rem 0.3rem black;
}.result-div button{
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    padding: 0.7rem;
    border-radius: 1.5rem;
    background-color: orange;
    color: black;
    border: solid black 0.15rem;
    font-family: 'Heebo', sans-serif;
    font-size: 1.25rem;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem  grey;
    transition: 150ms;
}.result-div button:hover{
    box-shadow: 0.75rem 0.75rem 0.75rem 0.75rem grey;
    transform: scale(1.1);
    background-color: rgb(255, 199, 94);
}

