@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Roboto+Slab:wght@700&family=Ubuntu:wght@500&display=swap');


*{
    margin: 0;
    padding: 0; 
}

html{
    background-color: rgb(15,15,15);
    color: white;
}

.heading{
    display: flex;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    font-size: 8vw;
    margin: 1vw;
    color: rgb(255, 38, 38);
}
::selection{
    background-color: rgb(30,30,30);
    color: white;
}

/*questions sheet*/
.questions-sheet-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questions-sheet{
    background-color: white;
    color: rgb(30,30,30);
    padding: 2vw;
    border-radius: 5vw;
    width: 50vw;
}

.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.question-description-div{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5vw;
}
.question-index{
    font-size: 2vw;
    color: black;
}

.option{
    border: solid rgb(15,15,15) 0.2vw;
    background-color: white;
    margin: 0.5vw;
    display: flex;
    justify-content: center;
    width: 13vw; height: 3.5vw;
    border-radius: 2vw;
    transition: 0.5s;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    padding: 0.5vw;
}.option:hover{
    background-color: rgb(30,30,30);
    color: white;
    cursor: pointer;
}



/*submit button*/
.submit-btn-div{
    display: flex;
    justify-content: center;
}
.submit-btn{
    background-color: black;
    border: none;
    color: white;
    transition: 0.5s;
    width: 7vw; height: 4vw;
    border-radius: 2vw;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2vw;
}.submit-btn:hover{
    background-color: rgb(0, 190, 0);
    width: 9vw;
    border-radius: 5vw;
    cursor: pointer;
}

/*result page*/
.result-page-outer{
    display: flex;
    justify-content: center; 
}
.result-page{
    background-color: white;
    color: black;
    width: 30vw;
    padding: 1.5vw;
    border-radius: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.user-score{
    color: rgb(5, 201, 191);
    font-size: 3.5vw;
}
.max-score{
    color: orange;
    font-size: 3.5vw;
}
.re-test-btn{
    border: none;
    width: 7vw; height: 4vw;
    margin: 1vw;
    border-radius: 5vw;
    background-color: white;
    font-size: 1.5vw;
    font-family: 'Oswald', sans-serif;
    color: rgb(30,30,30);
    transition: 0.5s;
}.re-test-btn:hover{
    width: 9vw;
    background-color: orange;
    cursor: pointer;
}

.score-displayer{
    font-size: 2vw;
    font-family: 'Ubuntu', sans-serif;
}




